@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

.letter {
    font-family: "Neuton", serif;
}

.button {
    background-color: #ffb9e1;
}